In [1]:
from nba_api.stats.endpoints import leaguedashteamstats
from nba_api.stats.static import teams
import pandas as pd
import time

In [2]:
contenders = pd.read_csv("../Champion Golden Zone/1996-2025 team ratings.csv",index_col=0)
contenders

,Team,Off_Rating,Def_Rating,Year,NBA Champion,Normalized_Off_Rating,Normalized_Def_Rating
0,Atlanta Hawks,106.4,100.3,1996,False,0.548872,0.905172
1,Boston Celtics,102.9,110.1,1996,False,0.285714,0.060345
2,Charlotte Hornets,109.1,107.1,1996,False,0.751880,0.318966
3,Chicago Bulls,112.4,100.7,1996,True,1.000000,0.870690
4,Cleveland Cavaliers,102.7,100.8,1996,False,0.270677,0.862069
...,...,...,...,...,...,...,...
886,Sacramento Kings,114.8,113.8,2025,False,0.641618,0.344371
887,San Antonio Spurs,111.3,111.9,2025,False,0.439306,0.470199
888,Toronto Raptors,112.0,115.0,2025,False,0.479769,0.264901
889,Utah Jazz,108.8,119.0,2025,False,0.294798,0.000000
890,Washington Wizards,103.7,118.7,2025,False,0.000000,0.019868

In [3]:
#Check if the team is in the golden zone (c.f. Champion Golden Zone for more explanations on the numbers)
def contender_zone(off_ratings,def_ratings):
    L=[]
    for i in range(len(off_ratings)):
        if (off_ratings[i]-1)**2+(def_ratings[i]-1)**2<=.52**2:
            L.append(True)
        else:
            L.append(False)
    return L

In [4]:
contenders['Contender']=contender_zone(contenders['Normalized_Off_Rating'],contenders['Normalized_Def_Rating'])
contenders

,Team,Off_Rating,Def_Rating,Year,NBA Champion,Normalized_Off_Rating,Normalized_Def_Rating,Contender
0,Atlanta Hawks,106.4,100.3,1996,False,0.548872,0.905172,True
1,Boston Celtics,102.9,110.1,1996,False,0.285714,0.060345,False
2,Charlotte Hornets,109.1,107.1,1996,False,0.751880,0.318966,False
3,Chicago Bulls,112.4,100.7,1996,True,1.000000,0.870690,True
4,Cleveland Cavaliers,102.7,100.8,1996,False,0.270677,0.862069,False
...,...,...,...,...,...,...,...,...
886,Sacramento Kings,114.8,113.8,2025,False,0.641618,0.344371,False
887,San Antonio Spurs,111.3,111.9,2025,False,0.439306,0.470199,False
888,Toronto Raptors,112.0,115.0,2025,False,0.479769,0.264901,False
889,Utah Jazz,108.8,119.0,2025,False,0.294798,0.000000,False
890,Washington Wizards,103.7,118.7,2025,False,0.000000,0.019868,False

In [5]:
year=1997
# Fetch advanced stats for 1996-97 season
team_advanced_stats = leaguedashteamstats.LeagueDashTeamStats(
    season=f"{year}-{str(year + 1)[-2:]}",
    season_type_all_star='Regular Season',
    date_from_nullable=f"{year}-10-29",
    date_to_nullable=f"{year}-12-25",
    measure_type_detailed_defense='Advanced'
).get_data_frames()[0]

nba_champ = teams._find_teams_by_championship_year(year)

Christmas_team_ratings_df = pd.DataFrame({
    "Team": list(team_advanced_stats['TEAM_NAME']),
    "Off_Rating": list(team_advanced_stats['OFF_RATING']),       
    "Def_Rating": list(team_advanced_stats['DEF_RATING']),
    "Year": [year]*len(team_advanced_stats),   
})

In [6]:
Christmas_team_ratings_df

                      Team  Off_Rating  Def_Rating  Year
0            Atlanta Hawks       103.6       100.3  1997
1           Boston Celtics        99.0       100.4  1997
2        Charlotte Hornets       103.8       102.4  1997
3            Chicago Bulls       100.6        94.0  1997
4      Cleveland Cavaliers        98.4        93.5  1997
5         Dallas Mavericks        96.9       106.9  1997
6           Denver Nuggets        96.7       108.7  1997
7          Detroit Pistons        99.3        97.3  1997
8    Golden State Warriors        91.7       102.3  1997
9          Houston Rockets       107.3       103.2  1997
10          Indiana Pacers       104.7        98.4  1997
11    Los Angeles Clippers        98.6       107.2  1997
12      Los Angeles Lakers       109.1       100.1  1997
13              Miami Heat       106.1       102.9  1997
14         Milwaukee Bucks       100.2       100.3  1997
15  Minnesota Timberwolves       103.8       104.4  1997
16         New Jersey Nets       103.3       101.0  1997
17         New York Knicks       100.2        93.4  1997
18           Orlando Magic       102.2       104.7  1997
19      Philadelphia 76ers        98.7       104.6  1997
20            Phoenix Suns       104.4       100.6  1997
21  Portland Trail Blazers       102.9        99.2  1997
22        Sacramento Kings        99.6       104.0  1997
23       San Antonio Spurs       100.6        98.8  1997
24     Seattle SuperSonics       109.7       101.3  1997
25         Toronto Raptors        98.0       107.2  1997
26               Utah Jazz       105.9       102.4  1997
27     Vancouver Grizzlies        98.6       105.7  1997
28      Washington Wizards       103.3       101.3  1997

In [7]:
for year in range(1998,2025):
    team_advanced_stats = leaguedashteamstats.LeagueDashTeamStats(
    season=f"{year}-{str(year + 1)[-2:]}",
    season_type_all_star='Regular Season',
    date_from_nullable=f"{year}-10-29",
    date_to_nullable=f"{year}-12-25",
    measure_type_detailed_defense='Advanced'
    ).get_data_frames()[0]

    team_ratings_df_2 = pd.DataFrame({
        "Team": list(team_advanced_stats['TEAM_NAME']),
        "Off_Rating": list(team_advanced_stats['OFF_RATING']),       
        "Def_Rating": list(team_advanced_stats['DEF_RATING']),
        "Year": [year]*len(team_advanced_stats),  
    })
    Christmas_team_ratings_df=pd.concat([Christmas_team_ratings_df,team_ratings_df_2],ignore_index=True)
    time.sleep(0.5)
    
    
Christmas_team_ratings_df

                    Team  Off_Rating  Def_Rating    Year
0          Atlanta Hawks       103.6       100.3  1997.0
1         Boston Celtics        99.0       100.4  1997.0
2      Charlotte Hornets       103.8       102.4  1997.0
3          Chicago Bulls       100.6        94.0  1997.0
4    Cleveland Cavaliers        98.4        93.5  1997.0
..                   ...         ...         ...     ...
777     Sacramento Kings       115.2       113.3  2024.0
778    San Antonio Spurs       112.0       113.8  2024.0
779      Toronto Raptors       111.9       115.4  2024.0
780            Utah Jazz       111.5       117.9  2024.0
781   Washington Wizards       103.2       118.7  2024.0

[782 rows x 4 columns]

In [8]:
def normalize_ratings(c1,defensive):
    
    #Take a lists, normalizes it and returns the normalized list
    
    
    Max_c1 = max(c1)
    Min_c1 = min(c1)

    n_c1 = []
    for i in c1:
                
        normalized_c1 = (i-Min_c1) / (Max_c1-Min_c1) if Max_c1!=Min_c1 else 0
        
        #If we are normalizing defensive winrate, reverse the values (so that best defenses get 1 instead of 0)
        if defensive:
            n_c1.append(1-normalized_c1)
        else:
            n_c1.append(normalized_c1)
    
    return n_c1

In [9]:
Christmas_team_ratings_df['Normalized_Off_Rating']=None
Christmas_team_ratings_df['Normalized_Def_Rating']=None

for year in range(1997,2026):
    if len(Christmas_team_ratings_df[Christmas_team_ratings_df['Year']==year]['Off_Rating'])==0:
        continue

    n_off = normalize_ratings(Christmas_team_ratings_df[Christmas_team_ratings_df['Year']==year]['Off_Rating'],False)
    n_def = normalize_ratings(Christmas_team_ratings_df[Christmas_team_ratings_df['Year']==year]['Def_Rating'],True)

    Christmas_team_ratings_df.loc[Christmas_team_ratings_df['Year']==year,'Normalized_Off_Rating'] = n_off
    Christmas_team_ratings_df.loc[Christmas_team_ratings_df['Year']==year,'Normalized_Def_Rating'] = n_def

Christmas_team_ratings_df

,Team,Off_Rating,Def_Rating,Year,Normalized_Off_Rating,Normalized_Def_Rating
0,Atlanta Hawks,103.6,100.3,1997.0,0.661111,0.54902
1,Boston Celtics,99.0,100.4,1997.0,0.405556,0.542484
2,Charlotte Hornets,103.8,102.4,1997.0,0.672222,0.411765
3,Chicago Bulls,100.6,94.0,1997.0,0.494444,0.960784
4,Cleveland Cavaliers,98.4,93.5,1997.0,0.372222,0.993464
...,...,...,...,...,...,...
777,Sacramento Kings,115.2,113.3,2024.0,0.655738,0.406667
778,San Antonio Spurs,112.0,113.8,2024.0,0.480874,0.373333
779,Toronto Raptors,111.9,115.4,2024.0,0.47541,0.266667
780,Utah Jazz,111.5,117.9,2024.0,0.453552,0.1
781,Washington Wizards,103.2,118.7,2024.0,0.0,0.046667

In [10]:
Christmas_team_ratings_df['Contender at Christmas']=contender_zone(Christmas_team_ratings_df['Normalized_Off_Rating'],Christmas_team_ratings_df['Normalized_Def_Rating'])
Christmas_team_ratings_df

,Team,Off_Rating,Def_Rating,Year,Normalized_Off_Rating,Normalized_Def_Rating,Contender at Christmas
0,Atlanta Hawks,103.6,100.3,1997.0,0.661111,0.54902,False
1,Boston Celtics,99.0,100.4,1997.0,0.405556,0.542484,False
2,Charlotte Hornets,103.8,102.4,1997.0,0.672222,0.411765,False
3,Chicago Bulls,100.6,94.0,1997.0,0.494444,0.960784,True
4,Cleveland Cavaliers,98.4,93.5,1997.0,0.372222,0.993464,False
...,...,...,...,...,...,...,...
777,Sacramento Kings,115.2,113.3,2024.0,0.655738,0.406667,False
778,San Antonio Spurs,112.0,113.8,2024.0,0.480874,0.373333,False
779,Toronto Raptors,111.9,115.4,2024.0,0.47541,0.266667,False
780,Utah Jazz,111.5,117.9,2024.0,0.453552,0.1,False
781,Washington Wizards,103.2,118.7,2024.0,0.0,0.046667,False

In [11]:
total = pd.concat([contenders,Christmas_team_ratings_df], axis=1)
total

,Team,Off_Rating,Def_Rating,Year,NBA Champion,Normalized_Off_Rating,Normalized_Def_Rating,Contender,Team,Off_Rating,Def_Rating,Year,Normalized_Off_Rating,Normalized_Def_Rating,Contender at Christmas
0,Atlanta Hawks,106.4,100.3,1996,False,0.548872,0.905172,True,Atlanta Hawks,103.6,100.3,1997.0,0.661111,0.54902,False
1,Boston Celtics,102.9,110.1,1996,False,0.285714,0.060345,False,Boston Celtics,99.0,100.4,1997.0,0.405556,0.542484,False
2,Charlotte Hornets,109.1,107.1,1996,False,0.751880,0.318966,False,Charlotte Hornets,103.8,102.4,1997.0,0.672222,0.411765,False
3,Chicago Bulls,112.4,100.7,1996,True,1.000000,0.870690,True,Chicago Bulls,100.6,94.0,1997.0,0.494444,0.960784,True
4,Cleveland Cavaliers,102.7,100.8,1996,False,0.270677,0.862069,False,Cleveland Cavaliers,98.4,93.5,1997.0,0.372222,0.993464,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,Sacramento Kings,114.8,113.8,2025,False,0.641618,0.344371,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,San Antonio Spurs,111.3,111.9,2025,False,0.439306,0.470199,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,Toronto Raptors,112.0,115.0,2025,False,0.479769,0.264901,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,Utah Jazz,108.8,119.0,2025,False,0.294798,0.000000,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,Washington Wizards,103.7,118.7,2025,False,0.000000,0.019868,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
total.to_csv('Contenders at Christmas and at the end.csv',index=True)